<?xml version="1.0" encoding="UTF-8"?>
<context>
	<!-- name：给这个资源配置的名称 ，符合java规范即可-->
	<!-- type:代表当前资源的类型-->
	<!-- auth:表示当前资源的管理者-->
	<!-- maxActive:表当前活跃的最大数量 -->
	<!-- maxIdle：表当前最大的空闲数量 -->
	<!-- maxWait：最大的等待时间 -->
	<!-- driverClassName、url、username、password则是连接数据库的基本信息-->
	<Resource
		name="connnectJDBC" 
		type="javax.sql.Datasource"
		auth="Container"
		maxActive="5"
		maxIdle="5"
		maxWait="10000"
		driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://localhost:3306/shopping"
		username="root"
		password="LQ3217103676"
	/>
</context>




